<div id="header">
    {% block sitenav %}
    <a href="{{site.url}}/index.html" id="logo"><h1>{{site.name}}</h1></a>
    <div id="sitenav">
        <ul>
            <li{% if page.module == site.module %} class="current" {% endif %}>
                <a href="{{site.listing_url}}">Home</a>
            </li>    
            {% for module in site.children %}
            <li{% if page.module == module %} class="current"{% endif %}>
                <a href="{{module.listing_url}}">
                    {% if module.has_listing and module.listing_page.title %}
                    {{module.listing_page.title}}
                    {% else %}
                    {{module.name}}
                    {% endif %}
                </a>
                {% if page.module == module %}
                {% if module.children %}
                <ul>
                    {% for kid in module.children %}
                    <li{% if page.module.listing_url == kid.listing_url %} class="current" {% endif %}>
                        <a href="{{kid.listing_url}}">
                            {{kid.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if module.pages %}
                <ul>
                    {% for kid in module.pages %}
                    {% if kid != module.listing_page %}
                    <li{% if page.module.listing_url == kid.listing_url %} class="current" {% endif %}>
                        <a href="{{kid.full_url}}">
                            {{kid.title}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</div>
